.card-plane {
    background-color: var(--bg-secondary);
    border-radius: var(--card-border-radius);
    padding: var(--card-external-p);
    width: var(--card-width);
    box-shadow: var(--card-shadow);
}

.card-plane .card-plane__container {
   background-color: var(--bg-primary);
   border-top-left-radius: var(--card-border-radius);
   border-bottom-left-radius: var(--card-border-radius);
   border-bottom-right-radius: var(--card-border-radius);
   padding: var(--card-internal-p);
   padding-top: var(--card-internal-tp);
   position: relative;
}

.card-plane .card-plane__container .card-plane__badge {
    background-color: var(--bg-badge);
    padding: var(--badge-p);
    border-radius: var(--badge-border-radius);
    position: absolute;
    top: 0;
    right: 0;
}

.card-plane .card-plane__container .card-plane__title h3 {
    font-weight: 600;
    color: var(--text-color-bold);
    font-size: var(--font-size-title);
}

.card-plane .card-plane__container .card-plane__content {
    margin-top: var(--card-section-mt);
}

.card-plane .card-plane__container .card-plane__content p {
    font-weight: 400;
    color: var(--text-color);

}

.card-plane .card-plane__container .card-plane__list {
    margin-top: var(--card-section-mt);
}

.card-plane .card-plane__container .card-plane__list ul {
    list-style: none;
}

.card-plane .card-plane__container .card-plane__list ul li {
    font-weight: 400;
    color: var(--text-color);
    margin-top: var(--card-list-mt);
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-plane .card-plane__container .card-plane__list ul li b {
    font-weight: 600;
    color: var(--text-color-bold);
}

.card-plane .card-plane__container .card-plane__list ul li .card-plane__list-icon {
    height: 20px;
    width: 20px;
    background: var(--icon-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-plane .card-plane__container .card-plane__list ul li .card-plane__list-icon svg {
    height: 14px;
    width: 14px;
    fill: white;
}

.card-plane .card-plane__container .card-plane__button {
    margin-top: var(--card-section-mt);
}

.card-plane .card-plane__container .card-plane__button button {
    background-color: var(--bg-button);
    color: var(--card-button-color);
    padding: var(--card-button-p);
    border-radius: var(--card-button-border-radius);
    width: var(--card-button-w);
    height: var(--card-button-h);
    font-size: var(--card-button-font-size);
}

.card-plane .card-plane__container .card-plane__button button:hover {
    background-color: var(--bg-button-hover);
}