* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-text);
}

p {
    line-height: var(--font-line-height-general);
}

p.max-width-p {
    max-width: var(--max-width-title-p-wrapper);
    color:var(--color-secondary);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > .row { 
    width: 100%;
    max-width: var(--max-width);
}

.section {
    padding: var(--padding-y-section) 0;
}

.box {
    margin-bottom: var(--margin-b-box);
}

.title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
}
h2.title {
    font-size: var(--font-size-title-h2);
    line-height: var(--font-line-height-title-h2);
    letter-spacing: var(--letter-spacing-title-h2);
    margin-bottom:var(--margin-p);
}

h4.title {
    font-size: var(--font-size-title-h4);
    font-weight: var(--font-weight-title);
    line-height: var(--font-line-height-title-h4);
}

button {
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-colored: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
    box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
    border: none;
}

button.btn__primary {
    width: auto;
    background-color: var(--color-primary);
    color: var(--color-btn-text-primary);
    font-size: var(--font-size-btn);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn);
}

button.btn__secondary {
    width: auto;
    background-color: var(--color-btn-secondary);
    color: var(--color-btn-text-secondary);
    font-size: var(--font-size-btn);
    padding: var(--padding-btn);
    border-radius: var(--border-radius-btn); 
}

button.btn__full {
    width: 100% !important; 
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary h2,
.bg-primary h3,
.bg-primary h4 {
    color: var(--color-inverse);
}

.bg-primary p {
    color: var(--color-secondary);
}