:root{

    /* COLORS */
    --color-primary: #DA392B;
    --color-secondary: #272443;
    --color-tertiary:#FCFF72;
    --color-logo: #ffffff;
    --color-nav-active: #ffffff;

    /* SIZEs */
    --font-size: 18px;
    --font-size-logo: 1.7rem;
    --max-width: 1480px;
    --padding-logo: 1rem 1.5rem;


    /* FONTS */
    --font-family-title: "Suez One", serif;
    --font-family-text: "Roboto", sans-serif; 
    --font-family-logo: "Reklame Script W00 Medium";

    /* SHADOWS */
    
}

