:root{

    /* COLORS */
    --color-primary: #DA392B;
    --color-secondary: #272443;
    --color-tertiary:#FCFF72;

    /* SIZEs */
    --font-size: 18px;
    --max-width: 1280px;
    --section-py: 6rem 0;


    /* FONTS */
    --font-family-title: "Suez One", serif;
    --font-family-text: "Roboto", sans-serif; 
    --font-family-logo: "Reklame Script W00 Medium";

    /* SHADOWS */
    
}

