.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

/* ZOOM-IN ELEMENT */
.zoomelement {
    margin: 50px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.zoomelement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 800ms;
}

.zoomelement:hover img {
    transform: scale(1.06);
}