/* ZOOM-IN ELEMENT */
.zoomelement {
    overflow: hidden;
}

.zoomelement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 800ms;
}

.zoomelement:hover img {
    transform: scale(1.06);
}