@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* colors */
    --bg-body: #e8e8e8;
    --bg-primary: #ecf0ff;
    --bg-secondary: #fff;
    --bg-button: #6558d3;
    --bg-button-hover: #4133B7;
    --bg-badge: #bed6fb;
    --text-color: #697e91;
    --text-color-bold: #425275;
    --icon-color: #1FCAC5;
    /* font */
    --font-family: "Montserrat", sans-serif;
    --font-size: 16px;
    --line-height: 24px;
    /* sizes */
    --body-p: 20px;
    --card-width: 300px;
    --card-external-p: 10px;
    --card-internal-p: 20px;
    --card-border-radius: 16px;
    --card-section-mt: 0.75rem;
    --badge-p: 0.625em 0.75em;
    --badge-border-radius: 99em 0 0 99em;
    /* shadow */
    --card-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
}