#section1 {
  background-color: #fafafa;
  flex-direction: column;
  padding-left: var(--padding-left-section);
  padding-right: var(--padding-right-section);
}

#section1 button.btn__section1 {
  text-align: left;
  opacity: 0.6;
  padding: var(--padding-btn-section1);
}

#section1 .btn__section1:hover {
  border-color: var(--color-tertiary);
  border: 1px solid var(--color-primary);
  opacity: 1;
  cursor: pointer;
  background-color: #fafafa;
}

#section1 .wrapper {
  gap: 24px;
  margin: 3rem 0 5rem 0;
}

#section1 .title__card-section-1 {
  font-weight: var(--font-weight-title);
}
#section1 div img {
  border-radius: 10%;
}
