<!-- slide carosello(alex) -->
<div class="slide">

    <div class="slide__top">
        <div class="slide__top-img">
            <svg xmlns="http://www.w3.org/2000/svg" width="40px" viewBox="0 0 448 512">
                <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
            </svg>
        </div>
        <div class="slide__top-title">
            <h4>
                Sarah Mendes
            </h4>
            <span>@saramendes</span>
        </div>

    </div>

    <div class="slide__bottom">
        <p>
            "Extremely thoughtful approaches to business. I highly recommend this product to anyone wanting to jump into
            something new."
        </p>
    </div>


</div>
<!-- /slide carosello(alex) -->


<!-- card start your journey(alex) -->

<div class="card">

    <div class="card__top">
        <div class="card__top-title">
            <h3>Essential</h3>
        </div>

        <div class="card__top-price">
            <p>$29/mo</p>
        </div>

        <div class="card__top-text">
            <p>For power users who want access to creative features.</p>
        </div>

    </div>


    <div class="card__center">

        <div class="card__center-list">

            <div class="card__center-list-includes"><span>Includes:</span></div>

            <!-- https://fontawesome.com/icons/check?f=classic&s=solid -->
            <ul>
                <div class="card__center-list-includes-item">
                    <li>
                        Unlimited workspace boards
                    </li>
                </div>

                <div class="card__center-list-includes-item">
                    <li>Unlimited viewers</li>
                </div>

                <div class="card__center-list-includes-item">
                    <li>Unlimited project templates</li>
                </div>

                <div class="card__center-list-includes-item">
                    <li>Change management</li>
                </div>

                <div class="card__center-list-includes-item">
                    <li>Taxonomy development</li>
                </div>

                <div class="card__center-list-includes-item">
                    <li>Customer success manager</li>
                </div>
<!-- /commento inutile per avere una modifica)-->
            </ul>

        </div>

    </div>
</div>
<!-- /card start your journey(alex)-->
<!-- title e paragraph-->
<div class="title__content">
    <div class="title__content-name">
        <h2>The creative platform for cross-functional work</h2>
    </div>

    <div class="title__content-description">
        <p>Turbocharge your creative process with a powerful AI design platform that gives creatives the power of
            creating without limits.</p>
    </div>

</div>

