<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/template/utility.css" />
  </head>

  <body>
    <!--paragrafo , h2 , paragrafo-->
    <div class="ph2p">
      <p class="ph2p-paragraph-one">Chi siamo</p>
      <h2 class="ph2p-title">L'intrattenimento a portata di mano</h2>
      <p class="ph2p-paragraph-two">
        Questo è un paragrafo. Puoi modificarlo o aggiungere i contenuti che
        preferisci. Fai clic su “Modifica testo” o clicca due volte qui per
        aggiungere i contenuti che vuoi e cambiare il carattere. È lo spazio
        ideale per raccontare la tua storia e farti conoscere.
      </p>
    </div>

    <!--anchor "link" app store and google play-->
    <div>
      <a href="https://www.apple.com/it/app-store/">
        <img
          src="https://static.wixstatic.com/media/c837a6_e5a608d569fd4c56bcfedec4a72bfbd9~mv2.png/v1/fill/w_135,h_45,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Apple%20Store.png"
          alt="apple store"
        />
      </a>
      <a href="https://play.google.com/store/apps?hl=it&gl=US&pli=1">
        <img
          src="https://static.wixstatic.com/media/c837a6_382fdb7f2d0548b4abd0c3f53011a351~mv2.png/v1/fill/w_153,h_44,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Google%20Play.png"
          alt="google play"
        />
      </a>
    </div>

    <!--button-->
    <div>
      <button class="button__style-1" id="p_button-1">
        <p>scopri di più</p>
      </button>
    </div>
  </body>
</html>
