<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <section>
        <div class="section__title">
            <h2>Featured Products</h2>
        </div>
        <div class="section__slider-wrapper">
            <div class="section__slider-wrapper-body">
                <div class="card-product">
                    <div class="card-product__badge gold" >
                        <span>New</span>
                    </div>
                    <div class="card-product__badge-price red">
                        <span>$ 56.20</span>
                    </div>

                    <div class="card-product__product-name">
                        <h4>DUMMY PRODUCT NAME</h4>
                    </div>
                    <div class="card-product__review-stars">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="card-product__tool">
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-product">
                    <div class="card-product__badge gold" >
                        <span>New</span>
                    </div>
                    <div class="card-product__badge-price red">
                        <span>$ 56.20</span>
                    </div>

                    <div class="card-product__product-name">
                        <h4>DUMMY PRODUCT NAME</h4>
                    </div>
                    <div class="card-product__review-stars">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="card-product__tool">
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-product">
                    <div class="card-product__badge gold" >
                        <span>New</span>
                    </div>
                    <div class="card-product__badge-price red">
                        <span>$ 56.20</span>
                    </div>

                    <div class="card-product__product-name">
                        <h4>DUMMY PRODUCT NAME</h4>
                    </div>
                    <div class="card-product__review-stars">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="card-product__tool">
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card-product">
                    <div class="card-product__badge gold" >
                        <span>New</span>
                    </div>
                    <div class="card-product__badge-price red">
                        <span>$ 56.20</span>
                    </div>

                    <div class="card-product__product-name">
                        <h4>DUMMY PRODUCT NAME</h4>
                    </div>
                    <div class="card-product__review-stars">
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star checked"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="card-product__tool">
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                        <div class="card-product__tool-item">
                            <a href="" >
                                <i></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>