<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>

      <div class="footer__sponsor-carosel">
        <div class="footer__sponsor-carosel-wrapper">
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo1" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo2" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo3" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo4" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo5" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo6" />
          </div>
          <div class="footer__sponsor-carosel-item">
            <img src="" alt="logo7" />
          </div>
        </div>
      </div>

      <div class="footer__main">
        <div class="footer__main-body">
          <div class="footer__main-body-col">
            <h3>contact us</h3>
            <div class="footer__main-body-col-table">
              <div class="footer__main-body-col-table-row">
                <div class="footer__main-body-col-table-row-cell title">
                  Address :
                </div>
                <div class="footer__main-body-col-table-row-cell content">
                  28 Green Tower, Street Name, New York City, USA
                </div>
              </div>
              <div class="footer__main-body-col-table-row">
                <div class="footer__main-body-col-table-row-cell title">
                  Cell-Phone :
                </div>
                <div class="footer__main-body-col-table-row-cell content">
                  012345 - 123456789
                </div>
              </div>
              <div class="footer__main-body-col-table-row">
                <div class="footer__main-body-col-table-row-cell title">
                  email :
                </div>
                <div class="footer__main-body-col-table-row-cell content">
                  your-email@gmail.com
                </div>
              </div>
            </div>
          </div>
          <div class="footer__main-body-col">
            <h3>accounts</h3>
            <div class="footer__main-body-col-list">
              <ul>
                <li>
                  <i></i>
                  <span>My Account</span>
                </li>
                <li>
                  <i></i>
                  <span>My Wishlist</span>
                </li>
                <li>
                  <i></i>
                  <span>My Cart</span>
                </li>
                <li>
                  <i></i>
                  <span>Sing in</span>
                </li>
                <li>
                  <i></i>
                  <span>Check out</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__main-body-col">
            <h3>shipping</h3>
            <div class="footer__main-body-col-list">
              <ul>
                <li>
                  <i></i>
                  <span>New products</span>
                </li>
                <li>
                  <i></i>
                  <span>Top sellers</span>
                </li>
                <li>
                  <i></i>
                  <span>Manufactirers</span>
                </li>
                <li>
                  <i></i>
                  <span>Suppliers</span>
                </li>
                <li>
                  <i></i>
                  <span>Specials</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__main-body-col">
            <h3>email newsletters</h3>
            <form action="submit" class="footer__main-body-col-form">
              <div class="form-row">
                <input type="text" />
              </div>
              <div>
                <button type="submit">subscribe</button>
              </div>
            </form>
          </div>
        </div>

        <div class="footer__main-subfooter">
          <div class="footer__main-subfooter-left">
            <p>© CodeCarnival 2022. All Rights Reserved.</p>
          </div>
          <div class="footer__main-subfooter-right">
            <img src="" alt="foto1" />
            <img src="" alt="foto2" />
            <img src="" alt="foto3" />
            <img src="" alt="foto4" />
          </div>
        </div>

      </div>
    </footer>
  </body>
</html>
