<div class="container">
    <section class="blog">
        <div class="blog__title">
            <h3>From the blog</h3>
        </div>
        <div class="blog__cards">
            <div class="blog__cards-content">
                <div class="blog__card-content-image">
                    <img src="https://www.outletarredamento.it/images/sedie/sedia-talya-fgf-mobili-in-offerta-outlet_n2_982679.webp" alt="tavolo e sedie" width="200px" height="200px">
                </div>
                <div class="blog__card-content-info">
                    <div class="blog__card-content-info-number">
                        <p>30</p>
                    </div>
                    <div class="blog__card-content-info-date">
                        <p>June, 2021</p>
                        <p>Farniture drawing 2021</p>
                    </div>
                </div>
                <div class="blog__card-content-description">
                    <p>There are many variations ...</p>
                </div>
                <div class="blog__card-content-more">
                    <a href="#">Read more ...</a>
                </div>
            </div>
        </div>
        <div class="blog__cards">
            <div class="blog__cards-content">
                <div class="blog__card-content-image">
                    <img src="https://www.outletarredamento.it/images/sedie/sedia-talya-fgf-mobili-in-offerta-outlet_n2_982679.webp" alt="tavolo e sedie" width="200px" height="200px">
                </div>
                <div class="blog__card-content-info">
                    <div class="blog__card-content-info-number">
                        <p>30</p>
                    </div>
                    <div class="blog__card-content-info-date">
                        <p>June, 2021</p>
                        <p>Farniture drawing 2021</p>
                    </div>
                </div>
                <div class="blog__card-content-description">
                    <p>There are many variations ...</p>
                </div>
                <div class="blog__card-content-more">
                    <a href="#">Read more ...</a>
                </div>
            </div>
        </div>
        <div class="blog__cards">
            <div class="blog__cards-content">
                <div class="blog__card-content-image">
                    <img src="https://www.outletarredamento.it/images/sedie/sedia-talya-fgf-mobili-in-offerta-outlet_n2_982679.webp" alt="tavolo e sedie" width="200px" height="200px">
                </div>
                <div class="blog__card-content-info">
                    <div class="blog__card-content-info-number">
                        <p>30</p>
                    </div>
                    <div class="blog__card-content-info-date">
                        <p>June, 2021</p>
                        <p>Farniture drawing 2021</p>
                    </div>
                </div>
                <div class="blog__card-content-description">
                    <p>There are many variations ...</p>
                </div>
                <div class="blog__card-content-more">
                    <a href="#">Read more ...</a>
                </div>
            </div>
        </div>
    </section>  
</div>