<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="header__content-img">
                <img src="" alt="">
            </div>
            <div class="header__content">
                <div class="header__content-text-top">
                    <p>welcome to our</p>
                </div>
                <div class="header__content-title">
                    <h1>elegent furniture</h1>
                </div>
                <div class="header__content-text-bottom">
                    <p>gallery 2021</p>
                </div>
                <div class="header__content-desc">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there hidden
                        in the middle of text.
                    </p>
                </div>
                <div class="header__content-cta">
                    <button>SHOP NOW</button>
                </div>
            </div>
        </div>
    </header>

</body>

</html>