<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav">
            <div class="button_left_menu">
                <button><a target="_blank" href="https://icons8.com/icon/3096/menu"></a></button>
            </div>
            <div class="logo"></div>
            <div class="button_right_buy"></div>
        </div>
    </nav>
    <header></header>
    <main></main>
    <footer></footer>
    
</body>
</html>