<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav__container">
            <div class="nav__container-button-left-menu">
                <button>
                    <i></i>
                </button>
            </div>
            <div class="nav__container-logo"></div>
            <div class="nav__container-button-right-buy"></div>
        </div>
    </nav>

    <header></header>
    <main></main>
    <footer></footer>
    
</body>
</html>