<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav></nav>
    <header></header>
    <main>
        <div class="main">
            <div class="main-card1">
                <div class="main-card1_new">
                    <p>New</p>
                </div>
                <div class="main-card1_price">
                    <p>$ 50.00</p>
                </div>
                <div class="main-card1_img">
                    <img src="" alt="">
                </div>
                <div class="main-card1_title1">
                    <h5>Product Name</h5>
                </div>
                <div class="main-card1_title2">
                    <h5>Forniture</h5>
                </div>
                <div class="main-card1_button">
                    <button>But Now</button>
                </div>

            </div>
            <div class="main-card2">
                <div class="main-card2_img">
                    <img src="" alt="">
                </div>
                <div class="main-card2_title">
                    <h2>design by hurst modern-2021</h2>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>