<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="section">
            <div class="section__box-l">
                <div class="section__box-l-badge">
                    <span>New</span>
                </div>
                <div class="section__box-l-price">
                    <span>$ 50.00</span>
                </div>
                <div class="section__box-l-img">
                    <img src="" alt="">
                </div>
                <div class="section__box-l-name">
                    <h5>Product Name</h5>
                </div>
                <div class="section__box-l-category">
                    <p>Forniture</p>
                </div>
                <div class="section__box-l-cta">
                    <button>Buy Now</button>
                </div>

            </div>
            <div class="section__box-r">
                <div class="section__box-r-img">
                    <img src="" alt="">
                </div>
                <div class="section__box-r-title">
                    <h4>design by hurst modern-2021</h4>
                </div>
            </div>
        </div>
    </section>
</body>
</html>